
doctype html
html(lang='en')
    include ../../components/header-files
    body.document.full-width-doc.sticky-nav-doc
        include ../../components/taptop
        // page-wrapper Start
        .page-wrapper.compact-wrapper
          include ../../components/document-header
            // Page Body Start
          .body-wrapper.sticky_menu
                  #sticky-page.document-area
                    .overlay_bg
                    .container-fluid.custom-container
                      .row.doc-container
                        .left-sidebar
                          include ../../components/document-sidebar
                        .col-lg-9.content
                          #review.shortcode_text.doc-section.mb-0
                              .row
                                .col-md-12
                                  h4.main-title Customer reviews
                                    a.btn.btn-primary.float-end(href='https://themeforest.net/user/pixelstrap/portfolio') See All
                                .col-md-12
                                  .card.review-sec
                                    .card-header
                                      .review-header
                                        .star-sec
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          p.ms-2.mb-0 For 
                                            strong Feature Availability
                                        .right-star
                                          p by 
                                            span kavishan123
                                          p.ms-2 11 days ago
                                          
                                    .card-body.p-t-0
                                      p.card-text Why you sale this amazing theme only 5 wow it's superb
                                      .media
                                          img.align-self-start.me-2(src='../assets/images/document/review.jpg' alt='Generic placeholder image')
                                          .media-body
                                            p
                                              | Thanks for loving and amazing , its great that you have purchased at launch offer price which will soon be higher.
                                            p best of luck for your projects :)
                                            

                                .col-md-12
                                  .card.review-sec
                                    .card-header
                                      .review-header
                                        .star-sec
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          p.ms-2.mb-0 For 
                                            strong Customer Support
                                        .right-star
                                          p by 
                                            span mahbuburried
                                          p.ms-2 23 days ago
                                          
                                    .card-body.p-t-0
                                      p.card-text Customer support is excelent. whenever have problem and not uderstand their support section always helps me. and Admin panel is very nice. Thanks
                                      .media
                                          img.align-self-start.me-2(src='../assets/images/document/review.jpg' alt='Generic placeholder image')
                                          .media-body
                                            p
                                              | Thanks for loving our theme and support , wish you great luck for your project :)
                                .col-md-12
                                  .card.review-sec
                                    .card-header
                                      .review-header
                                        .star-sec
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          i.fa.fa-star
                                          p.ms-2.mb-0 For 
                                            strong Fesign Quality
                                        .right-star
                                          p by 
                                            span ryanlam81
                                          p.ms-2 18 hours ago
                                          
                                    .card-body.p-t-0
                                      p.card-text The codes very clean with great design and also nice customer supports.Love it very much !
                      
        
    include ../../components/footer-files

                                     



                               
          



                
                        
                      


       
