doctype html
html(lang='en')
    include ../../components/header-files
    body
      include ../../components/taptop

      include ../../components/document-header
      
      .container-fluid.custom-container
        .row.document-main
          .left-sidebar
            include ../../components/document-sidebar
          .content
            .row
              .col-md-12
                h4.main-title Themes             
                h5#html Html
                .card
                  .card-body
                    .main-table-sec
                      .table-wrapper
                        .table-scroll.table-responsive
                          table
                            tbody
                              tr
                                td
                                  span Name
                                td
                                  span Version(Latest)
                                td
                                  span Doc Link
                                td
                                  span Preview
                              tr
                                td
                                  span Viho (Theme)
                                td
                                  span 1.0
                                  a.link-primary(href='change-log.html') (Change Log)
                                td
                                  a.link-primary(href='getting-started.html') Docs
                                td
                                  a.link-primary(href='http://admin.pixelstrap.com/viho/theme/index.html' target='_blank') Preview
                              tr
                                td
                                  span Viho (Starter-kit)
                                td
                                  span 1.0
                                  a.link-primary(href='change-log.html') (Change Log)
                                td
                                  a.link-primary(href='getting-started.html') Docs
                                td
                                  a.link-primary(href='http://admin.pixelstrap.com/viho/starter-kit/index.html' target='_blank') Preview

                h5#laravel Laravel
                .card
                  .card-body
                    .main-table-sec
                      h1.coming-soon-txt  coming soon             
              .col-md-12
                .page-footer
                  .page-changes-summary
                    .contributors
                      .avtar-list
                        .page-edit-date
                          i.fa.fa-circle.text-success
                          span Updated Today
                      .page-rating
                        .page-rating-title
                          span  Was document helpful?
                        .page-rating-icons
                          span.rate-icon-pick(role='presentation')
                            svg(preserveaspectratio='xMidYMid meet' height='1em' width='1em' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' stroke='none')
                              g
                                path(d='M9.707 8.707a.993.993 0 0 0 .006-1.396 1.007 1.007 0 0 0-1.408-.03C8.273 7.312 7.519 8 6 8c-1.497 0-2.251-.67-2.303-.717a1 1 0 0 0-1.404 1.424C2.425 8.839 3.653 10 6 10c2.347 0 3.575-1.161 3.707-1.293m12 0a.993.993 0 0 0 .006-1.396 1.006 1.006 0 0 0-1.408-.03C20.273 7.312 19.519 8 18 8c-1.497 0-2.251-.67-2.303-.717a1 1 0 0 0-1.404 1.424C14.425 8.839 15.653 10 18 10c2.347 0 3.575-1.161 3.707-1.293M21.001 19a1 1 0 0 1-.896-.553C20.036 18.314 18.225 15 12 15c-6.225 0-8.036 3.314-8.11 3.456a1.002 1.002 0 0 1-1.344.43.997.997 0 0 1-.441-1.333C2.198 17.367 4.469 13 12 13s9.802 4.367 9.895 4.553A1.001 1.001 0 0 1 21.001 19' fill-rule='evenodd')
                          span.rate-icon-pick(role='presentation')
                            svg(preserveaspectratio='xMidYMid meet' height='1em' width='1em' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' stroke='none')
                              g
                                path(d='M10 8a1 1 0 0 0-1-1H3a1 1 0 1 0 0 2h6a1 1 0 0 0 1-1m12 0a1 1 0 0 0-1-1h-6a1 1 0 1 0 0 2h6a1 1 0 0 0 1-1m-1 9H3a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2' fill-rule='evenodd')
                          span.rate-icon-pick(role='presentation')
                            svg(preserveaspectratio='xMidYMid meet' height='1em' width='1em' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' stroke='none')
                              g
                                path(d='M9.707 8.707a.999.999 0 0 0 0-1.414C9.575 7.161 8.347 6 6 6 3.653 6 2.425 7.161 2.293 7.293a.992.992 0 0 0-.005 1.396 1.007 1.007 0 0 0 1.408.029C3.727 8.689 4.481 8 6 8c1.52 0 2.273.689 2.293.707a.997.997 0 0 0 1.414 0m12 0a.999.999 0 0 0 0-1.414C21.575 7.161 20.347 6 18 6c-2.347 0-3.575 1.161-3.707 1.293a.992.992 0 0 0-.005 1.396 1.006 1.006 0 0 0 1.407.029C15.727 8.689 16.481 8 18 8c1.52 0 2.273.689 2.293.707a.997.997 0 0 0 1.414 0M12 19c-7.53 0-9.8-4.367-9.894-4.553a1.001 1.001 0 0 1 1.786-.902C3.974 13.704 5.792 17 12 17c6.226 0 8.037-3.314 8.111-3.456a1.007 1.007 0 0 1 1.344-.43.998.998 0 0 1 .441 1.333C21.802 14.633 19.531 19 12 19' fill-rule='evenodd')

          .right-sidebar
            .quick-links 
              h5 Quick Links
              ul
                li
                  a(href="https://pixelstrap.freshdesk.com/" target='_blank') Ask a Question
                li
                  a(href="https://themeforest.net/user/pixelstrap/portfolio" target='_blank') Buy Now
    include ../../components/footer-files