
doctype html
html(lang='en')
    include ../../components/header-files
    body.document.full-width-doc.sticky-nav-doc
        include ../../components/taptop
        // page-wrapper Start
        .page-wrapper.compact-wrapper
          include ../../components/document-header
            // Page Body Start
          .body-wrapper.sticky_menu
                  section#sticky-page.document-area
                    .overlay_bg
                    .container-fluid.custom-container
                      .row.doc-container
                        .left-sidebar
                          include ../../components/document-sidebar
                        .col-lg-9.option-main-sec.content
                          .card
                            .card-body
                              h4.main-title.mb-0 Options
                              hr
                              h5 Layout
                              p We have provided a bunch of page layouts and menu layouts that can be implemented with just a options change to body! Please refer the below table for corresponding classes.
                              .table-responsive
                                table.table
                                  tbody
                                    tr
                                      td Boxed Layout
                                        
                                      td Class: box-layout
                                    tr
                                      td RTL Layout
                                        
                                      td Class: rtl
                                    tr
                                      td Light Layout
                                        
                                      td -
                                    tr
                                      td Dark Sidebar
                                        
                                      td Class: dark-sidebar
                                    tr
                                      td Dark Layout
                                        
                                      td Class: dark-only
                                    
        
    include ../../components/footer-files

                                     



                               
          



                
                        
                      


       
