{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Product</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'default' %}">Home</a>
            </li>
            <li class="breadcrumb-item">ECommerce</li>
            <li class="breadcrumb-item active">Product</li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <div class="bookmark">
            <ul>
              <li>
                <a
                  href="javascript:void(0)"
                  data-container="body"
                  data-bs-toggle="popover"
                  data-placement="top"
                  title=""
                  data-original-title="Tables"
                  ><i data-feather="inbox"></i
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-container="body"
                  data-bs-toggle="popover"
                  data-placement="top"
                  title=""
                  data-original-title="Chat"
                  ><i data-feather="message-square"></i
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-container="body"
                  data-bs-toggle="popover"
                  data-placement="top"
                  title=""
                  data-original-title="Icons"
                  ><i data-feather="command"></i
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-container="body"
                  data-bs-toggle="popover"
                  data-placement="top"
                  title=""
                  data-original-title="Learning"
                  ><i data-feather="layers"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="bookmark-search" data-feather="star"></i
                ></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search.." />
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid product-wrapper">
    <div class="product-grid">
      <div class="feature-products">
        <div class="row m-b-10">
          <div class="col-md-3 col-sm-2 products-total">
            <div class="square-product-setting d-inline-block">
              <a
                class="icon-grid grid-layout-view"
                href="javascript:void(0)"
                data-original-title=""
                title=""
                ><i data-feather="grid"></i
              ></a>
            </div>
            <div class="square-product-setting d-inline-block">
              <a
                class="icon-grid m-0 list-layout-view"
                href="javascript:void(0)"
                data-original-title=""
                title=""
                ><i data-feather="list"></i
              ></a>
            </div>
            <div class="d-none-productlist filter-toggle">
              <h6 class="mb-0">
                Filters<span class="ms-2"
                  ><i class="toggle-data" data-feather="chevron-down"></i
                ></span>
              </h6>
            </div>
            <div class="grid-options d-inline-block">
              <ul>
                <li>
                  <a
                    class="product-2-layout-view"
                    href="javascript:void(0)"
                    data-original-title=""
                    title=""
                    ><span class="line-grid line-grid-1 bg-primary"></span
                    ><span class="line-grid line-grid-2 bg-primary"></span
                  ></a>
                </li>
                <li>
                  <a
                    class="product-3-layout-view"
                    href="javascript:void(0)"
                    data-original-title=""
                    title=""
                    ><span class="line-grid line-grid-3 bg-primary"></span
                    ><span class="line-grid line-grid-4 bg-primary"></span
                    ><span class="line-grid line-grid-5 bg-primary"></span
                  ></a>
                </li>
                <li>
                  <a
                    class="product-4-layout-view"
                    href="javascript:void(0)"
                    data-original-title=""
                    title=""
                    ><span class="line-grid line-grid-6 bg-primary"></span
                    ><span class="line-grid line-grid-7 bg-primary"></span
                    ><span class="line-grid line-grid-8 bg-primary"></span
                    ><span class="line-grid line-grid-9 bg-primary"></span
                  ></a>
                </li>
                <li>
                  <a
                    class="product-6-layout-view"
                    href="javascript:void(0)"
                    data-original-title=""
                    title=""
                    ><span class="line-grid line-grid-10 bg-primary"></span
                    ><span class="line-grid line-grid-11 bg-primary"></span
                    ><span class="line-grid line-grid-12 bg-primary"></span
                    ><span class="line-grid line-grid-13 bg-primary"></span
                    ><span class="line-grid line-grid-14 bg-primary"></span
                    ><span class="line-grid line-grid-15 bg-primary"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-9 col-sm-10 text-end">
            <span class="f-w-600 m-r-5"
              >Showing Products 1 - 24 Of 200 Results</span
            >
            <div class="select2-drpdwn-product select-options d-inline-block">
              <select class="form-control btn-square" name="select">
                <option value="opt1">Featured</option>
                <option value="opt2">Lowest Prices</option>
                <option value="opt3">Highest Prices</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="pro-filter-sec">
              <div class="product-sidebar">
                <div class="filter-section">
                  <div class="card">
                    <div class="card-header">
                      <h6 class="mb-0 f-w-600">
                        Filters<span class="pull-right"
                          ><i class="fa fa-chevron-down toggle-data"></i
                        ></span>
                      </h6>
                    </div>
                    <div class="left-filter">
                      <div class="card-body filter-cards-view animate-chk">
                        <div class="product-filter">
                          <h6 class="f-w-600">Category</h6>
                          <div class="checkbox-animated mt-0">
                            <label class="d-block" for="edo-ani5">
                              <input
                                class="radio_animated"
                                id="edo-ani5"
                                type="radio"
                                data-original-title=""
                                title=""
                              />Man Shirt
                            </label>
                            <label class="d-block" for="edo-ani6">
                              <input
                                class="radio_animated"
                                id="edo-ani6"
                                type="radio"
                                data-original-title=""
                                title=""
                              />Man Jeans
                            </label>
                            <label class="d-block" for="edo-ani7">
                              <input
                                class="radio_animated"
                                id="edo-ani7"
                                type="radio"
                                data-original-title=""
                                title=""
                              />Woman Top
                            </label>
                            <label class="d-block" for="edo-ani8">
                              <input
                                class="radio_animated"
                                id="edo-ani8"
                                type="radio"
                                data-original-title=""
                                title=""
                              />Woman Jeans
                            </label>
                            <label class="d-block" for="edo-ani9">
                              <input
                                class="radio_animated"
                                id="edo-ani9"
                                type="radio"
                                data-original-title=""
                                title=""
                              />Man T-shirt
                            </label>
                          </div>
                        </div>
                        <div class="product-filter">
                          <h6 class="f-w-600">Brand</h6>
                          <div class="checkbox-animated mt-0">
                            <label class="d-block" for="chk-ani">
                              <input
                                class="checkbox_animated"
                                id="chk-ani"
                                type="checkbox"
                                data-original-title=""
                                title=""
                              />
                              Levi's
                            </label>
                            <label class="d-block" for="chk-ani1">
                              <input
                                class="checkbox_animated"
                                id="chk-ani1"
                                type="checkbox"
                                data-original-title=""
                                title=""
                              />Diesel
                            </label>
                            <label class="d-block" for="chk-ani2">
                              <input
                                class="checkbox_animated"
                                id="chk-ani2"
                                type="checkbox"
                                data-original-title=""
                                title=""
                              />Lee
                            </label>
                            <label class="d-block" for="chk-ani3">
                              <input
                                class="checkbox_animated"
                                id="chk-ani3"
                                type="checkbox"
                                data-original-title=""
                                title=""
                              />Hudson
                            </label>
                            <label class="d-block" for="chk-ani4">
                              <input
                                class="checkbox_animated"
                                id="chk-ani4"
                                type="checkbox"
                                data-original-title=""
                                title=""
                              />Denizen
                            </label>
                            <label class="d-block" for="chk-ani5">
                              <input
                                class="checkbox_animated"
                                id="chk-ani5"
                                type="checkbox"
                                data-original-title=""
                                title=""
                              />Spykar
                            </label>
                          </div>
                        </div>
                        <div class="product-filter slider-product">
                          <h6 class="f-w-600">Colors</h6>
                          <div class="color-selector">
                            <ul>
                              <li class="white"></li>
                              <li class="gray"></li>
                              <li class="black"></li>
                              <li class="orange"></li>
                              <li class="green"></li>
                              <li class="pink"></li>
                              <li class="yellow"></li>
                              <li class="blue"></li>
                              <li class="red"></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-filter pb-0">
                          <h6 class="f-w-600">Price</h6>
                          <input id="u-range-03" type="text" />
                          <h6 class="f-w-600">New Products</h6>
                        </div>
                        <div class="product-filter pb-0 new-products">
                          <div class="owl-carousel owl-theme" id="testimonial">
                            <div class="item">
                              <div class="product-box">
                                <div class="media">
                                  <div class="product-img me-3">
                                    <img
                                      class="img-fluid"
                                      src="{% static 'assets/images/ecommerce/01.jpg' %}"
                                      alt=""
                                      data-original-title=""
                                      title=""
                                    />
                                  </div>
                                  <div class="media-body">
                                    <div class="product-details">
                                      <div>
                                        <ul>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                        </ul>
                                        <p class="mb-0 f-w-700">Fancy Shirt</p>
                                        <div class="f-w-500">$100.00</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="product-box">
                                <div class="media">
                                  <div class="product-img me-3">
                                    <img
                                      class="img-fluid"
                                      src="{% static 'assets/images/ecommerce/02.jpg' %}"
                                      alt=""
                                      data-original-title=""
                                      title=""
                                    />
                                  </div>
                                  <div class="media-body">
                                    <div class="product-details">
                                      <div>
                                        <ul>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                        </ul>
                                        <p class="mb-0 f-w-700">Fancy Shirt</p>
                                        <div class="f-w-500">$100.00</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="product-box">
                                <div class="media">
                                  <div class="product-img me-3">
                                    <img
                                      class="img-fluid"
                                      src="{% static 'assets/images/ecommerce/03.jpg' %}"
                                      alt=""
                                      data-original-title=""
                                      title=""
                                    />
                                  </div>
                                  <div class="media-body">
                                    <div class="product-details">
                                      <div>
                                        <ul>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                        </ul>
                                        <p class="mb-0 f-w-700">Fancy Shirt</p>
                                        <div class="f-w-500">$100.00</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="product-box">
                                <div class="media">
                                  <div class="product-img me-3">
                                    <img
                                      class="img-fluid"
                                      src="{% static 'assets/images/ecommerce/01.jpg' %}"
                                      alt=""
                                      data-original-title=""
                                      title=""
                                    />
                                  </div>
                                  <div class="media-body">
                                    <div class="product-details">
                                      <div>
                                        <ul>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                        </ul>
                                        <p class="mb-0 f-w-700">Fancy Shirt</p>
                                        <div class="f-w-500">$100.00</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="product-box">
                                <div class="media">
                                  <div class="product-img me-3">
                                    <img
                                      class="img-fluid"
                                      src="{% static 'assets/images/ecommerce/02.jpg' %}"
                                      alt=""
                                      data-original-title=""
                                      title=""
                                    />
                                  </div>
                                  <div class="media-body">
                                    <div class="product-details">
                                      <div>
                                        <ul>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                        </ul>
                                        <p class="mb-0 f-w-700">Fancy Shirt</p>
                                        <div class="f-w-500">$100.00</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="product-box">
                                <div class="media">
                                  <div class="product-img me-3">
                                    <img
                                      class="img-fluid"
                                      src="{% static 'assets/images/ecommerce/03.jpg' %}"
                                      alt=""
                                      data-original-title=""
                                      title=""
                                    />
                                  </div>
                                  <div class="media-body">
                                    <div class="product-details">
                                      <div>
                                        <ul>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                          <li>
                                            <i
                                              class="fa fa-star font-warning"
                                            ></i>
                                          </li>
                                        </ul>
                                        <p class="mb-0 f-w-700">Fancy Shirt</p>
                                        <div class="f-w-500">$100.00</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-filter text-center">
                          <img
                            class="img-fluid banner-product"
                            src="{% static 'assets/images/ecommerce/banner.jpg' %}"
                            alt=""
                            data-original-title=""
                            title=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-search">
                <form>
                  <div class="form-group m-0">
                    <input
                      class="form-control"
                      type="search"
                      placeholder="Search.."
                      data-original-title=""
                      title=""
                    /><i class="fa fa-search"></i>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper-grid">
        <div class="row">
          {% for i in product %}
          <div class="col-xl-3 col-sm-6 xl-6">
            <div class="card">
              <div class="product-box">
                <div class="product-img">
                  {% if i.sale_percent > 0 %}
                  <div class="ribbon ribbon-success ribbon-right">
                    {{i.sale_percent}}%
                  </div>
                  <img class="img-fluid" src="{{ i.img_1.url }}" alt="" />
                  {% else %}
                  <img class="img-fluid" src="{{ i.img_1.url }}" alt="" />
                  {% endif %}

                  <div class="product-hover">
                    <ul>
                      <li>
                        <a href="{% url 'cart' %}"
                          ><i class="icon-shopping-cart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModalCenter3"
                          ><i class="icon-eye"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="modal fade" id="exampleModalCenter3">
                  <div
                    class="modal-dialog modal-lg modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="product-box row">
                          <div class="product-img col-lg-6">
                            <img
                              class="img-fluid"
                              src="{{ i.img_1.url }}"
                              alt=""
                            />
                          </div>
                          <div class="product-details col-lg-6 text-start">
                            <a href="product-page.html">
                              <h4>{{ i.name }}</h4></a
                            >
                            <div class="product-price">
                              <h3>{{ i.price }}</h3>
                            </div>
                            <div class="product-view">
                              <p class="mb-0">{{ i.text }}</p>
                            </div>
                            <div class="product-size">
                              <ul>
                                <li>
                                  <button
                                    style="width: 200px"
                                    class="btn btn-outline-light"
                                    type="button"
                                  >
                                    {{ i.dimensions }}
                                  </button>
                                </li>
                              </ul>
                            </div>
                            <div class="product-qnty">
                              <h6 class="f-w-600">{{ i.quantity }}</h6>
                              <fieldset>
                                <div class="input-group">
                                  <input
                                    class="touchspin text-center"
                                    type="text"
                                    value="5"
                                  />
                                </div>
                              </fieldset>
                              <div class="addcart-btn">
                                <a
                                  class="btn btn-primary me-3"
                                  href="{% url 'cart' %}"
                                  >Add to Cart</a
                                ><a
                                  class="btn btn-primary"
                                  href="{% url 'product-page' %}"
                                  >View Details</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-details">
                  <a href="product-page.html"> <h4>{{ i.name }}</h4></a>
                  <p>{{ i.text }}</p>
                  <div class="product-price">
                    <h3>$ {{ i.price }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock %}